body {
    height: 2000px;
}

.active {
    background-color: rgb(69, 59, 209);
    color: aquamarine !important
}

/* .scroll-to-top{
    background-color: aqua;
    color: aliceblue !important;
    font-size: 1rem;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    right: 0;
    display: none

} */
.scroll-to-top {
    background-color: aqua;
    color: #f4f8f0;
    font-size: 1rem;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    transform: translateY(40px);
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}